#page{

}

.image{
    width: 80%;
    height: 50%;
}

#header{
    display: flex;
    margin-left: 50%;
    text-align: center;
    gap: 10px;
}

.ayotiya{
    font-size: medium;
}
.enu{
    font-size: medium;
    color:palevioletred;
}
.details{
    width: 30%;
    height: 20%;
    display: flex;
    margin-left: 10%;
    color: rgb(7, 7, 95);
}
.menu{
    color: black;
}
#wholepage{
    background-color: white;
}
.conta{
    color: black;
}
.bout{
    text-align: justify;
    font-size: medium;
}
   
